@import "_reset.css";
@import "_variables.css";

main {
    display: initial;
}

/* corusel */

.corousel {
    width: 100%;
    padding: 10px 0 80px;
    margin-top: 70px;
    display: initial;
}

.carousel_box {
    display: flex;
    width: 100%;
    height: 496px;
    border-radius: 25px;
    background-color: var(--backColor);
}

.img_one {
    width: 100% !important;
    height: 31rem;
}

.content_carousel {
    width: 85%;
    padding: 40px 40px;
}

.content_carousel h2 {
    color: var(--whiteColor);
    font-size: 47px;
    font-weight: 700;
}

.content_carousel p {
    color: var(--shadWhite);
    font-size: 16px;
    margin: 25px 0 90px;
}

.content_carousel a {
    color: var(--whiteColor);
    padding: 11px 20px;
    border-radius: 35px;
    font-size: 12px;
    font-weight: 800;
    background-color: #ffffff3b;
}

.move_carousel {
    width: 100%;
}

.move_carousel img {
    width: 100%;
    height: 100%;
    
}

.line_list {
    padding: 15px 0;
    display: flex;
    justify-content: center;
}

.line {
    width: 4%;
    height: 4px;
    background-color: var(--border);
    margin-right: 12px;
    border-radius: 50px;
}

/* check_connection */

.check_connection {
    width: 83%;
    margin: 0 auto;
    padding: 25px 20px;
    border-radius: 15px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 49px;
    z-index: 1;
    background-color: var(--whiteColor);
}

.connecttion_content {
    width: 14%;
}

.connecttion_content h3 {
    font-size: 14px;
    font-weight: 600;
    color: var(--fontColor);
}

.city_inpt {
    display: flex;
    position: relative;
    width: 19%;
}

.city_inpt input {
    background: #fff;
    border: 1px solid;
    padding: 10px;
    font-size: 14px;
    border-radius: 11px;
    font-weight: 700;
}

.city_inpt label {
    position: absolute;
    top: -8px;
    left: 10px;
    background-color: var(--whiteColor);
    padding: 0 5px;
    font-size: 10px;
}

.street_inpt {
    display: flex;
    position: relative;
    width: 19%;
}

.street_inpt input {
    background: #fff;
    padding: 10px;
    font-size: 14px;
    border-radius: 11px;
    font-weight: 700;
    border: 1px solid var(--border);
}

.street_inpt label {
    position: absolute;
    top: -8px;
    left: 10px;
    background-color: var(--whiteColor);
    padding: 0 5px;
    font-size: 10px;
}

.house_inpt {
    display: flex;
    position: relative;
    width: 19%;
}

.house_inpt input {
    background: #fff;
    padding: 10px;
    font-size: 14px;
    border-radius: 11px;
    font-weight: 700;
    border: 1px solid var(--border);
    cursor: not-allowed;
}

.house_inpt label {
    position: absolute;
    top: -8px;
    left: 10px;
    background-color: var(--whiteColor);
    padding: 0 5px;
    font-size: 10px;
}

.check_btn button {
    padding: 12px 18px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    background-color: #dbdbdb;
    color: #00000040;
    cursor: not-allowed;
}

/* our_tariffs */

.our_tariffs {
    width: 100%;
    padding: 50px 0 70px;
}

.head_internet h2 {
    font-size: 43px;
    font-weight: 600;
    color: var(--fontColor);
    margin: 0px 0 40px;
}

.internet {
    border: 1px solid var(--border);
    border-radius: 11px;
    padding: 35px 25px;
    height: 100%;
}

.internet a {
    color: var(--backColor);
    font-weight: 600;
    display: flex;
    font-size: 14px;
    justify-content: center;
    margin-top: 10px;
    margin-top: 13px;
}

.internet a:hover {
    color: var(--backHover);
}

.internet h3 {
    font-size: 23px;
    font-weight: 600;
    color: var(--fontColor);
}

.internet img {
    width: 100%;
}

.price_btn_head {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    background-color: var(--backPink);
    border-radius: 10px;
    margin-top: 206px;
}

.price_btn_head h4 {
    font-size: 16px;
    font-weight: 600;
    margin-right: 12px;
}

.price_btn_head button {
    padding: 13px 30px;
    border-radius: 10px;
    border: none;
    background-color: var(--backColor);
    color: var(--whiteColor);
    font-size: 14px;
    font-weight: 600;
}

.price_btn_head button:hover {
    background-color: var(--backHover);
}

.fiber_optik {
    display: flex;
}

.fiber_optik img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.fiber_optik h3 {
    font-size: 20px;
    color: var(--fontColor);
}

.free_wifi {
    display: flex;
    margin: 20px 0;
}

.free_wifi img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.free_wifi h3 {
    font-size: 20px;
    color: var(--fontColor);
}

.internet_tv {
    border: 1px solid var(--border);
    border-radius: 11px;
    padding: 35px 25px;
    height: 100%;
}

.internet_tv a {
    color: var(--backColor);
    font-weight: 600;
    display: flex;
    font-size: 14px;
    justify-content: center;
    margin-top: 10px;
    margin-top: 13px;
}

.internet_tv a:hover {
    color: var(--backHover);
}

.internet_tv h3 {
    font-size: 23px;
    font-weight: 600;
    color: var(--fontColor);
}

.internet_tv img {
    width: 100%;
}

.fiber_optik img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.fiber_optik h3 {
    font-size: 20px;
    color: var(--fontColor);
}

.free_wifi {
    display: flex;
    margin: 20px 0;
}

.free_wifi img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.free_wifi h3 {
    font-size: 20px;
    color: var(--fontColor);
}

.free_tv {
    display: flex;
    margin: 20px 0;
}

.free_tv img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.free_tv h3 {
    font-size: 20px;
    color: var(--fontColor);
}

.channels {
    display: flex;
    margin: 20px 0;
    background-color: var(--backGrey);
    padding: 20px 10px 25px;
    border-radius: 11px;
}

.channels img {
    width: 35px;
    height: 30px;
    margin-right: 10px;
}

.channels h3 {
    font-size: 20px;
    color: var(--fontColor);
    margin-right: 15px;
}

.channels button {
    padding: 5px 30px;
    font-size: 12px;
    font-weight: 800;
    color: var(--backColor);
    background-color: var(--backbtn);
    border: none;
    border-radius: 10px;
}

.price_btn_middle {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    background-color: var(--backPink);
    border-radius: 10px;
    margin-top: 55px;
}

.price_btn_middle h4 {
    font-size: 16px;
    font-weight: 600;
    margin-right: 12px;
}

.price_btn_middle button {
    padding: 13px 30px;
    border-radius: 10px;
    border: none;
    background-color: var(--backColor);
    color: var(--whiteColor);
    font-size: 14px;
    font-weight: 600;
}

.price_btn_middle button:hover {
    background-color: var(--backHover);
}

.internet_landline {
    border: 1px solid var(--border);
    border-radius: 11px;
    padding: 35px 25px;
}

.internet_landline a {
    color: var(--backColor);
    font-weight: 600;
    display: flex;
    font-size: 14px;
    justify-content: center;
    margin-top: 10px;
    margin-top: 13px;
}

.internet_landline a:hover {
    color: var(--backHover);
}

.internet_landline h3 {
    font-size: 23px;
    font-weight: 600;
    color: var(--fontColor);
}

.internet_landline img {
    width: 100%;
}

.fiber_optik img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.fiber_optik h3 {
    font-size: 20px;
    color: var(--fontColor);
}

.free_wifi {
    display: flex;
    margin: 20px 0;
}

.free_wifi img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.free_wifi h3 {
    font-size: 20px;
    color: var(--fontColor);
}

.free_tv {
    display: flex;
    margin: 20px 0;
}

.free_tv img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.free_tv h3 {
    font-size: 20px;
    color: var(--fontColor);
}

.channels {
    display: flex;
    margin: 20px 0;
    background-color: var(--backGrey);
    padding: 20px 10px 25px;
    border-radius: 11px;
}

.channels img {
    width: 35px;
    height: 30px;
    margin-right: 10px;
}

.channels h3 {
    font-size: 20px;
    color: var(--fontColor);
    margin-right: 15px;
}

.channels button {
    padding: 5px 30px;
    font-size: 12px;
    font-weight: 800;
    color: var(--backColor);
    background-color: var(--backbtn);
    border: none;
    border-radius: 10px;
}

.channels button:hover {
    background-color: var(--pinkHover);
}

.landline {
    display: flex;
    margin: 20px 0;
    height: 100%;
}

.landline img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.landline h3 {
    font-size: 20px;
    color: var(--fontColor);
}

.price_btn_foot {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    background-color: var(--backPink);
    border-radius: 10px;
}

.price_btn_foot h4 {
    font-size: 16px;
    font-weight: 600;
    margin-right: 12px;
}

.price_btn_foot button {
    padding: 13px 30px;
    border-radius: 10px;
    border: none;
    background-color: var(--backColor);
    color: var(--whiteColor);
    font-size: 14px;
    font-weight: 600;
}

.price_btn_foot button:hover {
    background-color: var(--backHover);
}

/* new_router */

.new_router {
    padding: 50px 0;
}

.about_router {
    background-color: var(--backColor);
    border-radius: 12px;
    display: flex;
}

.router_content {
    padding: 70px 60px;
    width: 50%;
}

.router_content h2 {
    color: var(--whiteColor);
    font-size: 44px;
    font-weight: 600;
}

.router_content h4 {
    font-size: 20px;
    color: var(--whiteColor);
    margin: 30px 0;
}

.router_content button {
    padding: 13px 80px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    color: var(--backColor);
    background-color: var(--whiteColor);
}

.router_content button:hover {
    background-color: var(--pinkHover);
}

.router_photo {
    width: 50%;
}

.router_photo img {
    width: 81%;
}

/* why_CityNet */

.why_CityNet {
    width: 100%;
    padding: 70px 0;
}

.why_CityNet h2 {
    font-size: 43px;
    font-weight: 600;
    color: var(--fontColor);
}

.internet_modes {
    width: 100%;
    height: 270px;
    padding: 20px 20px;
    background-color: var(--backGrey);
    margin: 12px 0;
    border-radius: 13px;
    margin-top: 30px;
}

.internet_modes .icons {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--whiteColor);
}

.internet_modes .icons img {
    margin: 16px;
}

.internet_modes h3 {
    font-weight: 600;
    font-size: 30px;
    color: var(--fontColor);
    margin: 25px 0 20px;
}

.internet_modes h5 {
    font-size: 20px;
    color: var(--textColor);
}

/* connect_CityNet */

.connect_CityNet {
    width: 100%;
    padding: 50px 0;
}

.connect_CityNet h2 {
    font-size: 43px;
    font-weight: 600;
    color: var(--fontColor);
}

.connect_CityNet h4 {
    font-size: 20px;
    color: var(--textColor);
    margin: 20px 0 30px;
}

.cityNet_content {
    width: 88%;
    display: flex;
    justify-content: space-around;
    padding: 30px 0 13px;
}

.cityNet_content .number {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid rgb(219, 173, 173);
} 

.cityNet_content .number .round {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--backPink);
    margin: 4px auto;
} 

.cityNet_content .number .round span {
    color: var(--backColor);
    font-size: 22px;
    font-weight: 600;
    display: inline-block;
    margin: 13px 23px;
} 

.text_content {
    width: 70%;
    border-bottom: 1px solid var(--border);
}

.text_content h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--fontColor);
}

.text_content p {
    color: var(--textColor);
    padding: 0px 0 15px;
}

.line_top {
    border-top: 1px solid var(--border);
}

.line_bottom {
    border-bottom: 1px solid var(--border);
}

.border_none {
    border: none;
}

.cityNet_img {
    width: 100%;
    overflow: hidden;
}

.cityNet_img img {
    height: 741px;
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
}

.bottom_line_one {
    width: 1px;
    height: 140px;
    border: 1px solid;
    margin: 0 auto;
    border: 1px solid rgb(219, 173, 173)
}

.bottom_line_two {
    width: 1px;
    height: 115px;
    border: 1px solid;
    margin: 0 auto;
    border: 1px solid rgb(219, 173, 173)
}

.bottom_line_three {
    width: 1px;
    height: 92px;
    border: 1px solid;
    margin: 0 auto;
    border: 1px solid rgb(219, 173, 173)
}

/* hot_offers */

.hot_offers {
    width: 100%;
    padding: 70px 0;
}

.hot_offers h2 {
    font-size: 43px;
    font-weight: 600;
    color: var(--fontColor);
}

.box_offers {
    border: 1px solid var(--border);
    border-radius: 12px;
    height: 515px;
    margin-top: 25px;
    position: relative;
}

.box_offers:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}

.box_offers h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--backColor);
    padding: 30px 25px 10px;
}

.box_offers h3:hover {
    color: var(--textColor);
}

.box_offers p {
    font-size: 16px;
    color: var(--textColor);
    padding: 0px 25px 0px;
}

.img_offers img {
    width: 100%;
    height: 230px;
    border-radius: 12px 12px 0 0;
}

.btn_offers {
    margin: 18px 23px;
}

.btn_offers button {
    text-align: center;
    border-radius: 10px;
    background-color: var(--backColor);
    border: none;
    font-size: 35px;
    color: var(--whiteColor);
    cursor: pointer;
    width: 50px;
}

.btn_offers button:hover {
    width: 285px;
    transition: 100ms all linear;
    display: flex;
    align-items: center;
    background-color: var(--backHover);
}

.btn_offers button span {
    opacity: 0;
    width: 0;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
}

.btn_offers button:hover span {
    width: 90%;
    opacity: 1;
    transition: 100ms all linear;
}

/* online_payment */

.online_payment {
    width: 100%;
    padding: 70px 0 100px;
}

.payment_head h2 {
    font-size: 43px;
    font-weight: 600;
    color: var(--fontColor);
}

.payment_head h3 {
    font-size: 20px;
    color: var(--textColor);
    margin: 20px 0 30px;
}

.payment_list {
    padding: 70px 50px 50px;
    background-color: var(--backGrey);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 12px;
}

.payment_item {
    width: 30%;
    height: 100px;
    background-color: var(--whiteColor);
    border-radius: 12px;
    margin: 12px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.payment_item img {
    width: 65px;
    height: 45px;
}

.payment_item h4 {
    font-size: 14px;
    font-weight: 600;
    color: var(--textColor);
}

.payment_item .right button {
    color: var(--backColor);
    font-size: 22px;
    border: none;
    padding: 3px 9px;
    border-radius: 5px;
    background-color: var(--pinkHover);
}

.payment_item .right button:hover {
    background-color: var(--backbtn);
}



